<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName()}">Title</title>
</head>
<body>
<div>
    <p th:text="${person.getFullName()}"></p>
    <p th:text="${'Year: ' + person.getYearOfBirth()}"></p>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}" th:text="Edit"></a>
    <br/>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>
</body>
</html>